:root {

    /* Metrics & Settings */

    /* EM */
    --EM: 18px;

    /* Color Palette */
    --color1: #444;
    --color2: #111;
    --color3: #ff4466;
    --backgroundColor: #fafafa;

    /* Text */
    --primaryFont: neue-haas-unica;

    /* Weight */
    --weightU: 100;
    --weightR: 400;
    --weightB: 600;
    --weightH: 900;

    /* Text Size */
    --h1Size: calc(var(--EM) * 2.75);
    --h2Size: calc(var(--EM) * 2);
    --h3Size: calc(var(--EM) * 1.2);
    --pSize: calc(var(--EM) * 1);
    --liSize: calc(var(--EM) * .9);
    --capSize: calc(var(--EM) * 0.5);

    /* Side Nav */
    --sideNavWidth: calc(var(--EM) * 10);

    /* Text Rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

body {
    /* Emergency Fallback*/
    font-family: var(--primaryFont), san-serif;

    background-color: var(--backgroundColor);

    /* Spatial Settings */
    max-width: calc(var(--EM) * 36);
    padding: calc(var(--EM) * 1);
    margin: auto;

    /* Experimental */
}

h1 {
    /* Spatial Settings */
    margin: 0;
    padding-bottom: calc(var(--EM) * 4);
    /* Text */
    font-family: var(--primaryFont), san-serif;
    font-size: var(--h1Size);
    font-weight: var(--weightR);
    font-style: normal;
    /*letter-spacing: calc(var(--EM) * -0.05);*/

    /* Paragraph */
    line-height: 1.1;

    /* Color */
    color: var(--color2);
}

h2 {
    /* Spatial Settings */
    margin: 0;
    padding-bottom: calc(var(--EM) * 0);

    /* Text */
    font-family: var(--primaryFont), san-serif;
    font-size: var(--h2Size);
    font-weight: var(--weightB);
    font-style: normal;
    font-variant-caps: all-small-caps;

    /* Paragraph */
    line-height: 1.1;

    /* Color */
    color: var(--color2);
}

h3 {
    /* Spatial Settings */
    margin: 0;
    padding-bottom: calc(var(--EM) * 1.5);
    
    /* Text */
    font-family: var(--primaryFont), san-serif;
    font-size: var(--h3Size);
    font-weight: var(--weightB);
    font-style: normal;
    /*ext-transform: lowercase;*/

    /* Paragraph */
    line-height: 1.1;

    /* Color */
    color: var(--color1);
}

p {
    /* Spatial Settings */
    margin: 0;

    /* Text */
    font-family: var(--primaryFont), san-serif;
    font-size: var(--pSize);
    font-weight: var(--weightR);
    font-style: normal;

    /* Paragraph */
    line-height: 1.5;
    text-indent: calc(var(--EM) * 1.5);
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

    /* Color */
    color: var(--color1);
}

hr {
    /* Spatial Settings */
    margin-top: calc(var(--EM) * 2);
    margin-bottom: calc(var(--EM) * 2);

    /* Color */
    background-color: var(--color3);

    /* Style */
    height: 2px;
    border-width: 0;

}
strong {
    /* Text */
    font-weight: var(--weightB);
}

i {
    /* Text */
    font-weight: inherit;
    font-style: italic;
}

footer {
    /* Spatial Settings */
    padding-top: calc(var(--EM) * 0);
    padding-bottom: calc(var(--EM) * 1);

    /* Text */
    font-family: var(--primaryFont), san-serif;
    font-size: var(--capSizepSize);
    font-weight: var(--weightR);

    /* Paragraph */
    text-align: right;

}

.colored { /* Apply the third color */
    /* Color */
    color: var(--color3);
}

.openingParagraph { /* No indent for opening paragraph */
    /* Paragraph */
    text-indent: 0;
}

.sidenav { /* The sidebar menu */
  /* Spatial Settings */
  width: var(--sideNavWidth);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: calc(var(--EM) * 3);
}


.sidenav a { /* The navigation menu links */
  /* Spatial Settings */
  padding-left: calc(var(--EM) * 0);
  display: block;

  /* Text */
  text-decoration: none;

  /* Color */
  color: var(--color3);
  
}

.sidenav a:hover {
  /* Text */
  text-decoration: underline;
}

.sidenav ul {
  /* Spatial Settings */
  padding-left: calc(var(--EM) * 1);
  display: block;
  margin: 0;

  /* Text */
  font-size: var(--h3Size);
  font-weight: var(--weightB);
  list-style-type: none;
  font-variant-caps: all-small-caps;

  /* Color */
  color: var(--color3);
  
}

.sidenav li {
  /* Spatial Settings */
  padding-left: calc(var(--EM) * 1);
  padding-bottom: calc(var(--liSize) * .25);
  padding-top: calc(var(--liSize) * .5);

  /* Text */
  font-size: var(--liSize);
  font-weight: var(--weightR);
  list-style-type: none;

  /* Paragraph */
  line-height: 1.1;

  /* Color */
  color: var(--color3);
  
}


.main {
  margin-left: var(--sideNavWidth);
}

@media screen and (max-width: 1000px) {
  .sidenav {width: 0;}
}